<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOWGRISHALOH</title>
</head>
<body>
<H1>Привет принглс</H1>
<form action="/main/">
    <input name="firstNumber" type="number" placeholder="firstNumber">
    <select name = "sss">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input name="secondNumber" type="number" placeholder="secondNumber">
    <input type="submit" formmethod="get" value="GET">
    <input type="submit" formmethod="post" value="POST">
</form>

</body>
</html>