<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WOWGRISHALOH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="headers/head :: osnova"></div>
</head>
<body>
<H1>Привет принглс</H1>
<form action="/main/">
    <input name="firstNumber" type="number" placeholder="firstNumber">
    <select name = "sss">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input name="secondNumber" type="number" placeholder="secondNumber">
    <input type="submit" formmethod="get" value="GET">
    <input type="submit" formmethod="post" value="POST">
</form>

</body>
</html>