<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<div th:insert="headers/head :: osnova"></div>
<body>
<div style="padding: 5px; margin-left: 5px">
  <div th:if="${error}">
    Такой пользователь уже существует.
  </div>

  <p th:text="${error}"></p>

  <form action="/registration" method="post">

    <input name="type" type="text" placeholder="Тип мебели" style="margin:10px">
    <input  name="name" type="text" placeholder="Название" style="margin:10px">
    <input  name="size" type="text" placeholder="Размер" style="margin:10px">
    <input  name="color" type="text"  placeholder="Цвет" style="margin:10px">
    <input  name="releaseDate" type="text" placeholder="гггг-мм-дд" style="margin:10px">
    <input type="text" placeholder="Логин" name="username" style="margin:10px"/><br>
    <input type="password" placeholder="Пароль" name="password" style="margin:10px"/><br>

    <div><input type="submit" class="btn" value="Зарегистрироваться" style="margin:10px;background:LightBlue"/></div>
  </form>
</div>
</body>
</html>