<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Добавление магазина</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <div th:insert="headers/head :: osnova"></div>
</head>
<body>
<form method="post">
  <label>

    <input name="Address" type="text" placeholder="Адресс" style="margin:10px">
    <input name="typeSeparation" type="text" placeholder="Место расположения (Центр/Пригород)" style="margin:10px">


    <input class="btn" type="submit" value="Добавить магазин" style="background:LightGreen; margin: 10px">
  </label>
</form>

<a style="background:LightBlue; margin: 10px" class="btn" href="/furniture">Отмена</a>
</body>
</html>